/* 头部样式 */
.my_header{
    width:100%;
}

/*媒体查询 引入头部 大屏*/
@media screen and (min-width:992px){
    .my_header{
        height: 5rem;
    }
   
}

/* 媒体查询引入头部 中屏*/
@media screen and (max-width:991px){
    .my_header{
        height: 5rem;
    }
    
}

/* 媒体查询引入头部 小屏 */
@media screen and (max-width:778px){
    .my_header{
        height: 5rem;
    }
   
}
yl-img
/*修改内外标距*/
*{
    padding: 0;
    margin: 0;
}


*::before,
*::after {
    box-sizing: content-box;
}

/* 顶部样式 */
.db{
    width: 100%;
    background-color:#F3F3F3;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 3%;
}
.db>span{

    font-size: 16px;
    color: #919191;

}
a{
    text-decoration: none;
    color: #919191;
}
.pad-l{
    padding-left: 15%;
}
.pad-r{
    padding-right: 15%;
}

/*搜索框*/
.ssk{
    width: 100%;
    text-align: center;
    margin-bottom: 3%;

}

.hmxl{
    padding:5px 10px;
}

/*轮播图上方导航栏*/
.mar{
    margin:0 -7px;
}

/*轮播图上方导航栏ʽ*/
.bg-dark{
    background-color:#eb0d0d !important;
}

/*修改ul样式，去点*/
ul{
    list-style-type: none !important;
}
.color-f{
    color: #eb0d0d;
    float: left;
    margin: 2% 5%;
    font-size: 16px;
}
.color-f>ul>li{
    float: left;
    margin: 1% 1%;
}
.color-f>ul>li>a{
    color: #ccc;
    font-size: 14px;
}

.color-ff>li>a{
    color: #ccc;
    font-size: 14px;
}

/*媒体查询修改屏幕大小*/
@media screen and (min-width: 575px){
    /*二级菜单样式*/
    #xl,#xl2,#xl3{
        position: relative;
    }

    /*二级菜单下的ul小分类*/
    #xl>ul{
        background-color:  #fff;
        display: none;
        float: left;
        height: 300px;
        width: 400px;
        position: absolute;
        z-index: 999;
        top: 40px;
    }

    /*二级菜单下的ul小分类*/
    #xl2>ul,#xl3>ul{
        background-color:  #fff;
        width: 100px;
        height:100px;
        display: none;
        position: absolute;
        z-index: 999;
        top: 40px;
    }

    /*鼠标悬停后的样式*/
    #xl:hover>ul,#xl2:hover>ul,#xl3:hover>ul{
        display: block;
    }

    /*二级菜单栏样式*/
    .sj{
        width: 0px;
        height: 0px;
        border-left: 5px solid #eb0d0d;
        border-right: 5px solid #eb0d0d;
        border-top: 5px solid #fa7f8a;
        margin-top: -26%;
        margin-left: 92%;
        margin-right: 8px;
        /*display: inline;*/
    }

    .pl{
        padding-left: 8px;
    }
}

@media screen and (max-width:575px){
    /*二级菜单样式*/
    #xl,#xl2,#xl3{
        position: relative;
    }
    /*二级菜单下的ul小分类*/
    #xl>ul{
        background-color: #fff;
        display: none;
        float: left;
        height: 300px;
        width: 400px;
        position: absolute;
        z-index: 999;
        left: 80px;
        top:0;
    }

    /*二级菜单下的ul小分类*/
    #xl2>ul,#xl3>ul{
        background-color: #fff;
        display: none;
        float: left;
        width: 100px;
        height:100px;
        position: absolute;
        z-index: 999;
        left: 80px;
        top:0;
    }
    
    /*鼠标悬停后的样式*/
    #xl:hover>ul,#xl2:hover>ul,#xl3:hover>ul{
        display: block;
    }
    .sj{
        width: 0px;
        height: 0px;
        display: none;
    }
    .pl{
        padding-left: 0px;
    }
}
/*上方轮播图片*/
.lb-img{
    width:100%;
    height:370px;
}

/*轮播指示符*/
.carousel-indicators li{
    width: 15px;
    height: 15px;
    background-color:#fff;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 50%;
}
.carousel-indicators .active{
    background-color:#eb0d0d;
}

/*修改左右箭头样式*/
.carousel-control-prev,.carousel-control-next{
    width: 4%;
    height:20%;
    background-color: #aaa;
    top:40%;
    border-radius: 0.25rem;

}

/*一楼精品菜谱*/
.jpcp-1{
    font-size: 24px;
    font-family: ����;
    font-weight: 800;
}
.jpcp-2{
    font-size: 20px;
    font-family: ��������;
}
.jpcp-3{
    
    text-align: center;
    border-radius: 40%;
    display: inline !important;
    float:right;
}

/*修改胶囊导航样式ʽ*/
.nav-link{
    color:#333;
}
/*修改胶囊导航样式ʽ*/
.nav-link.active{
    background-color:#eb0d0d !important;
}
.nav-pills,.nav-pills>li{
    display: inline !important;
}
.nav-pills .nav-link{
    border-radius:1rem;
    padding: 3px 15px;
}


.star{
    width: 100%;
    height: 100%;

}
.star:hover{
    transition:box-shadow 0.3s linear 0s;
    box-shadow:3px 3px 10px #aaa;
}


.star>img{
    width: 20%;
    height: 10px;
}
lbt-2-div
/*一楼图片样式*/
.yl-img{
    width: 100%;
    clear: both;
}
.yl-img>a>img{
    width:100%;
    height: 253px;
}
a{
    text-decoration: none !important;
}
/*二楼图片样式*/
.el-img>img{
    width: 100%;
    height: 100px;
}

/*时令蔬菜*/
.slsc-1{
    font-size:18px;
    text-align: center;
}
.slsc-1+p{
    color: #919191;
    font-size: 14px;
    text-align: center;
}


/*下方轮播图*/
/*最外层父元素*/
.lbt-2{
    width:100%;
    height: 405px;
    /*border:1px solid red;*/
    float:left;
    overflow: hidden;
    /*justify-content:space-between;*/
}

/*下方轮播图 父元素*/
#lb2{
    width: 400%;
    height: 405px;
    overflow: hidden;
    /*border: 1px solid red;*/
}

/*底部导航栏*/
.lbt-2-div{
    width: 100%;
    height: 400px !important;
    /*border: 1px solid red;*/
}

/*底部导航栏图片*/
.lbt-2-div>a>img{
    height: 230px;
    width: 100%;
}

/*底部*/
.sb{
    width: 100%;
    text-align: center;
    padding: 3%;
    margin-top: 5%;
    background-color:#F3F3F3;
    color: #2D2D2D;
    font-size: 15px;

}
a{
    color: #2D2D2D;
}
.f-s{
    font-size: 16px;
}
.f-s+span{
    font-size: 15px;
}
.xb{
    width: 100%;
    padding: 1%;
    background-color:#DDDDDD;
    color: #B7ADAD;
    text-align: center;

}
.clear{
    clear: both;
}
